body {
    font-family: 'Josefin Sans', serif;
}
section {
    height: 100vh;
    background-color: #a9c1d840;
    background-repeat: no-repeat;
    background-size: 100%;
}
footer {
    background-color: #f8f9fa;
    height: 70px;
}

.title__title {
    font-size: 3rem;
    color: #ffeabb;
    text-shadow: -1px 4px 4px #1d1c1c;
}
.title__subtitle {
    color: #ceb47b;
    text-shadow: -1px 2px 3px black;
}
.main__content .button {
    margin-top: 30px;
}
.rules__content {
    display: grid;
    justify-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;

}
.about__content {
    display: grid;
    justify-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: auto;
}
.hidden {
    display: none!important;
}
.layer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.layer__main {
    background-color: rgb(255 238 112 / 20%);
}
.layer__rules {
    background-color:  rgb(179 178 167 / 20%);
}
.layer__about {
    background-color: rgb(222 226 230 / 40%);
}
.layer__game {
    background-color: rgb(227 199 239 / 20%);
}
.grid__header_body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content 1fr;

}
.container, .rules__content, #game__body, .game__grid, .about__content {
    height: 100%;
}
.game__grid {
    display: grid;
    justify-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: auto;
}
.game__item {
    justify-self: center;
    align-self: center;
}
.game__item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 30px;
}
.button__start {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto;
    justify-items: center;
    align-content: center;
}
.game__button {
    padding: 25px;
    color: #ceb47b;
    background-color: rgb(99 99 99 / 20%);
    border: #9e803f 3px solid;
    border-radius: 50px;
    width: 300px;
    font-size: xx-large;
    height: 100px;
    text-shadow: -1px 2px 3px black;
}
.button__start button:hover {
    color: #7b2f2fab;
}
.footer__grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: minmax(70px, 1fr);
}
.footer__grid__item {
    text-align: center;
    padding: 20px 0px;

}
.footer__grid__item:nth-child(3) {
    padding: 6px 0px;
}
.footer__grid__item img {
    height: 3.5rem;
}
.footer-brand {
    font-size: 1.25rem;
    color: rgba(0,0,0,.9);
}
.footer-brand:hover {
    text-decoration: none;
    color: #939294;
}
.navbar-brand {
    text-align: center;
}
.navbar-toggler {
    width: auto;
}
.navbar-nav-center {
   width: 70%;
   margin: 0 0 0 10%;
}
.nav-item {
    width: 20%;
    text-align: center;
}

@media (min-width: 320px) {
    #main, #rules, #about, #game {
        background-size: 150%;
    }
    #main {
        background-image: url("../img/kirill-sharkovski-FioXQ1bU8Xg-unsplash-mobile.jpg");
    }
    #rules {
        height: 150vh;
        background-image: url("../img/anna-gru-nJ2qzR9_6Qo-unsplash-mobile-16-9.jpg");
        background-repeat: repeat;
    }
    #about {
        background-image: url("../img/asher-ward-51Lv_XgO0Dw-unsplash-mobile-16-9.jpg");
    }
    #game {
        background-image: url("../img/esteban-lopez-OfdFHy1zxjQ-unsplash-mobile-16-9.jpg");
        
    }
    .navbar-toggler {
        margin-left: 0;
    }
    .nav-item {
        width: 100%;
    }
    .button__start button {
        width: 200px;
        font-size: xx-large;
        height: 200px;
      }
    .game__grid {
        grid-template-rows: auto auto auto;
    }
    .rules__content .title, .about__content .title {
        grid-column-start: 1;
        grid-column-end: 3;
        order: 1;
    }
    .rules__content .content, .about__content .content {
        grid-column-start: 1;
        grid-column-end: 3;
        order: 2;
        font-size: 15px;
    }
    .title__title {
        font-size: 2rem;
    }
    .title__subtitle {
        font-size: 1.5rem;
    }
    .main__content {
        position: absolute;
        top: 20%;
    }
    .game__button {
        border-radius: 40px;
        width: 150px;
        font-size: large;
        height: 75px;
    }
}

@media (min-width: 576px) {
    #main, #rules, #about, #game {
        background-size: 115%;
    }
    .navbar-brand {
        width: 100px;
    }
    .navbar-toggler {
        margin-left: 15%;
    }
}

@media (min-width: 768px) {
    #rules {
        height: 100vh;
    }
    .navbar-brand {
        width: 150px;
    }
    .navbar-toggler {
        margin-left: 25%;
    }
    .main__content {
        position: absolute;
        top: 30%;
        width: 50%;
    }
    .title__title {
        font-size: 3rem;
    }
    .title__subtitle {
        font-size: 2rem;
    }
    .game__button {
        border-radius: 40px;
        width: 300px;
        font-size: xx-large;
        height: 100px;
    }
    .rules__content .title {
        grid-column-start: 2;
        grid-column-end: 3;
        justify-self: center;
        align-self: center;
        order: 2;
    }
    .rules__content .content {
        grid-column-start: 1;
        grid-column-end: 2;
        justify-self: center;
        align-self: center;
        order: 1;
        font-size: 18px;
    }
    .about__content .title {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .about__content .content {
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 23px;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        width: 200px;
    }
    .button__start button {
        width: 300px;
        font-size: xxx-large;
        height: 300px;
    }
}

@media (min-width: 1025px) {
    #main {
        background-image: url("../img/kirill-sharkovski-FioXQ1bU8Xg-unsplash.jpg");
    }
    #rules {
        background-image: url("../img/anna-gru-nJ2qzR9_6Qo-unsplash-3-2.jpg");
    }
    #about {
        background-image: url("../img/asher-ward-51Lv_XgO0Dw-unsplash-3-2.jpg");
    }
    #game {
        background-image: url("../img/esteban-lopez-OfdFHy1zxjQ-unsplash.jpg");   
    }
    .button__start button {
        border-radius: 50px;
        width: 300px;
        font-size: xx-large;
        height: 100px;
    }
    .game__grid {
        grid-template-columns: .3fr .3fr;
    }
}

@media (min-width: 1200px) {
    #main, #rules, #about {
        background-size: 100%;
    }
    .navbar-brand {
        width: 300px;
    }
    .main__content {
        position: absolute;
        top: 30%;
        width: 35%;
    }
}

@media only screen and (min-height: 320px) and (orientation: landscape) {
    #rules {
        height: 200vh;
    }
    #game {
        height: 150vh;
    }
    .game__grid {
        grid-template-columns: .25fr .25fr;
    }
}

@media only screen and (min-height: 760px) and (orientation: landscape) {
    section, #rules, #game {
        height: 100vh;
    }
    .game__grid {
        grid-template-columns: .3fr .3fr;
    }
}

@media only screen and (min-height: 1000px) and (orientation: landscape) {
    .game__grid {
        grid-template-columns: .35fr .35fr;
    }
}